body{
    background-color: #e8e8e8;
    
}

h1{
    background-color: #4aaaa5;
    width: 22%;
    color: #ffffff;
    padding: 20px;
    position: relative;
    text-align: center;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.tabs{
    background-color: #e8e8e8;
    float: right;
    bottom: 40px;
    top: 50%;
    position: relative;
    left: right;
}

.border{
    
    background-color: white;
    width: 960px;
}

.bin {
    margin: 0 auto;
}

.main{
    background-color: #ffffff;
    position: relative;
    float: right;
    right: 1%;
    padding: 10px;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif, 'helvetica neue';
    border-color: #dddddd;
    font: #777777;
}

footer{
    background-color: #666666;
    text-align: center;
    content: " ";
    display: black;
    clear: both;
    padding: 50px;
    position: relative;
    top: 250px;

    
}



h2{
    color: #4aaaa5;
    text-indent: 15px;
}


p{
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: xx-large;
    text-indent: 40px;
}

#pic2 {
    position: relative;
    bottom: 350px;
    left: 450px;
}

#pic3 {
position: relative;
bottom: 350px;

}

#pic4 {
position: relative;
bottom: 700px;
left: 450px;
}

#pic5 {
position: relative;
bottom: 715px;
}